@charset "UTF-8";

/* all */

body {
    font-family: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* トップページ */

/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #005EA6;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
    text-align: left;
    font-size: 72px;
    font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    #splash-logo {
        text-align: left;
        font-size: 50px;
    }
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/

body{
    background:#333;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
    border-color: #333;/*拡大する四角の色*/
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
        z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/* conveyor */

/* content */
#content {
    background-color: #ffffff;
}

/* wrapper */
.wrapper {
    padding: 0 70px;
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 15px;
    }
}
/* btn */
.btn {
    display: inline-block;
    width: 220px;
    border:1px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 13px;
    font-weight: bold;
    color: #ffffff;
    transition: 0.3s;
}

.btn-blue {
    color: #005EA6;
    border:1px solid #005EA6;
}

.btn:hover {
    color: #005EA6;
    background-color: #fff;
}

/* section */
.section-heading {
    text-align: center;
}

.heading01 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1;
    color: #005EA6;
    padding: 70px 0 30px 0;
}

.heading01-subtitle {
    display: block;
    font-size: 13px;
    color: #005EA6;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .heading01 {
        font-size: 30px;
        padding: 40px 0 20px 0;
    }
    .heading01-subtitle {
        font-size: 13px;
    }
}

/* header */
#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #005EA6;
    padding: 0 30px;
}

@media screen and (max-width: 768px) {
    #header {
        padding: 0 15px;
    }
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
@media screen and (max-width: 768px) {
    .header-inner {
        height: 60px;
    }
}

.header-logo {
    max-height: 100px;
    transition: all 0.3s;
}
.header-logo:hover {
    opacity: 0.6;
}

.header-logo img {
    max-height: 100px;
}
@media screen and (max-width: 768px) {
    .header-logo {
        max-height: 50px;
        z-index: 100;
    }
    .header-logo img {
        max-height: 50px;
    }
}

/* global-nav */
@media screen and (max-width: 768px) {
    .gnav {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        opacity: 0;
        text-align: center;
        color: #ffffff;
        background-color: #005EA6;
        transition: opacity 0.6s ease, visibility 0.6s ease;
        visibility: hidden;
    }

    .gnav.open {
        opacity: 1;
        visibility: visible;
    }

    .gnav-list {
        flex-direction: column;
        row-gap: 50px;
        margin-top: 50%;
    }
}

.gnav-list {
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.gnav-item {
    position: relative;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #ffffff;

}

.gnav-item.underLine::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s;

}

.gnav-item:hover::after {
    width: 100%;
}

.btn-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .btn-menu {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        align-items: center;
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 20px 16px;
        border: none;
        outline: none;
        background: none;
        background-color: #005EA6;
        cursor: pointer;
        appearance: none;
    }

    .btn-menu-line {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s;
        background-color: #ffffff;
    }

    .btn-menu-line::before,
    .btn-menu-line::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: inherit;
        border-radius: 4px;
        background-color: #ffffff;
    }

    .btn-menu-line::before {
        top: 8px;
    }

    .btn-menu-line::after {
        top: -8px;
    }

    .btn-menu.open .btn-menu-line {
        background-color: transparent;/* 真ん中の線を透明にする(opacityと同じ効果)※ただ透過度設定不可 */
    }

    .btn-menu.open .btn-menu-line::before,/* "," つけ忘れ注意！*/
    .btn-menu.open .btn-menu-line::after {
        top: 0;
        background-color: #fff;
    }

    .btn-menu.open .btn-menu-line::before {/* ×の\側の作成 */
        transform: rotate(45deg);
    }

    .btn-menu.open .btn-menu-line::after {/* ×の/側の作成 */
        transform: rotate(-45deg);
    }

}

/* MV */
.mv {
    position: relative;
    background-color: #005EA6;
    height: 100vh;
}

.mv-titleArea {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 50%;
    color: #ffffff;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .mv-titleArea {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #ffffff;
        z-index: 5;
        width: 100%;
    }
}

.mv-title {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1;
    margin-bottom: 20px;
}

.mv-subtitle {
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .mv-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .mv-title .pc-only {
        display: none;
    }
    .mv-title span {
        padding-left: 1rem;
    }

    .mv-subtitle {
        font-size: 10px;
        text-align: center;
    }
}


.mv-imgArea {
    background-image: url(assets/img/麺取り装置全体.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 140px;
    right: 50px;
}
@media screen and (max-width: 768px) {
    .mv-imgArea {
        background-size: cover;
        width: 90%;
        height: 70%;
        position: absolute;
        top: 22%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.mv-imgArea-title {
    position: absolute;
    right: 20%;
    bottom: 10%;
    font-size: 20px;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .mv-imgArea-title {
        font-size: 12px;
        right: 5%;
    }
}
/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
	position: absolute;
	left: 5%;
	bottom:10px;
    /*全体の高さ*/
	height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
	position: absolute;
	left:-20px;
	top: -30px;
    /*テキストの形状*/
	color: #eee;
	font-size: 1rem;
	letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 0;
    /*線の形状*/
	width: 3px;
	height: 30px;
	background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 1.4s ease-in-out infinite;
	opacity:0;
}

@media screen and (max-width: 768px) {
    .scrolldown1 {
        position: absolute;
        left: 50%;
    }
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}

/* about */
.about-body {
    text-align: center;
}

.about-desc {
    margin-bottom: 30px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.about-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-title span {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    color: #d9a21b;
}

.about-subtitle {
    font-size: 20px;
}

.about-img-wrapper {
    padding: 0 100px;
}
@media screen and (max-width: 768px) {
    .about-title {
        font-size: 14px;
    }
    .about-title span {
        font-size: 20px;
    }
    .about-subtitle {
        font-size: 10px;
    }
    .about-img-wrapper {
        padding: 0;
    }
}
/* products */

.product-body {
    max-width: 1110px;
}

.product-list {
    text-align: center;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 100px;
}

@media screen and (max-width: 768px) {
    .product-list {
        display: block;
        padding: 0;
    }
}

.product-list-item {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 768px) {
    .product-list-item {
        margin: 0 0 25px 0;
    }
}
.product-list-body {
    padding: 20px;
}

.product-list-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-list-text {
    font-size: 13px;
}

.more {
    text-align: center;
    padding-top: 30px;
}

.more .btn:hover {
    color: #fff;
    background-color: #005EA6;
}

.last {
    padding-bottom: 70px;
}

/* facilities */

.facilities-item {
    padding: 0 20px;
    text-align: center;
}

.facilities-title {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.facilities-text {
    font-size: 13px;
}

/* comapny */
.philosophy-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #d9a21b;
    margin-bottom: 15px;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.sp-only {
    display: none;
}

.philosophy-text {
    font-size: 15px;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .philosophy-title {
        font-size: 25px;
    }
    .sp-only {
        display: block;
    }
    .philosophy-text {
        font-size: 13px;
    }
    #company .more.last {
        padding: 15px 0 30px 0;
    }
}
/* footer */
#footer {
    background-color: #005EA6;
    padding: 15px 0 15px 0;
}

.footer-gnav {
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .footer-gnav {
        margin-top: 15px;
    }
}
.f-gnav-list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    .f-gnav-list {
        font-size: 10px;
    }
}

.f-gnav-item {
    position: relative;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    color: #ffffff;

}

.f-gnav-item.underLine::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s;

}

.f-gnav-item:hover::after {
    width: 100%;
}

.footer-btn {
    text-align: center;
    margin-top: 20px;
}

.copyright {
    color: #a79b87;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.page-top {
    display: none;
    /* scripr.js内で動きを作るまではnoneが適用されて出てこない 
    JSを編集して要素のスタイルを変更することで出てくる（element.styleに”display: block;”が追記）
    なぜそうなるかはJSを要勉強*/
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
}

.page-top-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
    border-radius: 50%;
    background: #5890de;
    cursor: pointer;
}

.page-top-icon {
    font-size: 40px;
}

.page-top-link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .page-top {
        right: 10px;
        bottom: 20px;
    }
    .page-top-link {
        width: 40px;
        height: 40px;
    }
}

/* Products-制作実績ページ */
.hero {
    height: 240px;
    background-color: #005EA6;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero-inner {
    padding: 50px 40px 10px 40px;
    text-align: center;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.hero-subtitle {
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.03em;
}
@media screen and (max-width: 768px) {
    .hero {
        height: 150px;
    }
    .hero-inner {
        padding: 50px 0 10px;
    }
    .hero-title {
        font-size: 28px;
    }
    .hero-subtitle {
        font-size: 10px;
    }
}

.m-product-list {
    text-align: left;
    padding: 70px 0;
}
@media screen and (max-width: 768px) {
    .m-product-list {
        text-align: center;
        padding: 40px 0;
    }
}
.m-product-list-item {
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .m-product-list-item {
        display: block;
        margin-bottom: 30px;
    }
}
.m-product-list-item:nth-child(3) {
    margin-bottom: 0;
}

.m-product-list-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .m-product-list-title {
        margin: 20px 0 10px;
        font-size: 20px;
    }
}
.m-product-list-text {
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .m-product-list-text {
        font-size: 14px;
    }
}
/* Company-会社概要ページ */
.main-page {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    .main-page {
        padding-top: 40px;
    }
}
.company-info-inner {
    padding: 70px 0;
}
@media screen and (max-width: 768px) {
    .company-info-inner {
        padding: 30px 0 40px;
    }
}
.company-info-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .company-info-heading {
        font-size: 20px;
    }
}
.table01 {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table01 tr {
    border-bottom: solid 1px #ddd;
}

.table01 th,
.table01 td {
    padding: 30px 50px;
    text-align: left;
}
@media screen and (max-width: 768px) {
    .table01 th, .table01 td {
        padding: 10px 5px;
        font-size: 10px;
    }
}
.company-info-access {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    .company-info-access {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .access-map iframe {
        height: 350px;
    }
}

.access-map-link {
    padding-top: 15px;
}
@media screen and (max-width: 768px) {
    .access-map-link {
        font-size: 12px;
    }
}

/* Contact-お問い合わせページ */


/* Privacy-policy-個人情報保護方針ページ */
.privacy-policy-body {
    padding: 70px 90px;
}
@media screen and (max-width: 768px) {
    .privacy-policy-body {
        padding: 40px 0;
    }
}

.privacy-policy-explain {
    font-size: 15px;
    padding-bottom: 50px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .privacy-policy-explain {
        font-size: 14px;
        padding-bottom: 30px;
    }
}

.privacy-policy-item {
    padding-bottom: 30px;
}

.privacy-policy-item-title {
    font-size: 30px;
    font-weight: bold;
    color: #005EA6;
    padding-bottom: 15px;
}

.privacy-policy-item-text {
    font-size: 15px;
    line-height: 1.5;
}

.privacy-policy-item-text span {
    padding-left: 30px;
}

.privacy-policy-item-text .contact-link {
    text-decoration: underline;
    font-weight: bold;
}
.privacy-policy-item-text .contact-link:hover {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .privacy-policy-item:nth-last-child(1) {
        padding-bottom: 0;
    }
    .privacy-policy-item-title {
        font-size: 20px;
    }
    .privacy-policy-item-text {
        font-size: 14px;
    }
}
/* mediaquery(Tablet) */
/* mediaquery(SP) */